.grocery {
    border: 2px solid rgb(241, 177, 109);
    padding: 20px;
    margin: 20px;
    background-color: #fae2b9;
    border-radius: 10px;
    text-align: center;
}

h2 {
    background-color: rgb(243, 235, 191);
    padding: 10px;
}

.category {
    background-color: rgb(253, 234, 199);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

h3 {
    text-align: center;
}

ul, ol {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

.grocery-image {
    width: 200px;
    height: auto;
    margin-top: 15px;
    padding: 10px;
}
